*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#timer{
    text-align: right;
    font-size: xx-large;
}
header{
    /* background-color: blue; */
   text-align: center;
   margin-top: 2%;
   padding: 5%;
}
header h1{
    padding-bottom: 2%;
    font-weight: bold;
}
button{
   padding: 1% 2%;
}
#quiz{
    /* background-color: red; */
    text-align: center;
    margin-top: 3%;
    /* display: none; */
}
#question{
    padding-bottom: 2%;
}

#results{
    text-align: center;
    margin-top: 2%;
}